server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:appointment.p12
    key-store-password: 123456
    key-store-type: PKCS12
    key-alias: appointment

spring:
  datasource:
    url: jdbc:h2:mem:appointment-db
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  main:
    allow-bean-definition-overriding: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  mail:
    host: smtp.gmail.com
    port: 587
    username: ali3ttaffour@gmail.com
    password: rhxp myhp pjcq dckw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

mail:
  from: ali3ttaffour@gmail.com
